<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= blockchain.title %>
  </title>
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body onload="document.getElementById('transaction').focus()">

    <!-- <%- include('components/nav') %> -->

      <% if (manager) { %>
        
          <% } else if (store){ %>
            <!-- <%- include('components/nav-setting-store') %>
            <%- include('components/nav') %> -->
              <% } else if (student){ %>
                <%- include('components/nav-setting-student') %>
                <%- include('components/nav') %>
                  <% } else { %>
                    <!-- <%- include('components/nav-setting') %> --> 
                    <%- include('components/nav') %>
                    <%- include('components/notification') %>
                      <% } %>
